<div class="col-12 home-content" >
	<div class="row pt-4">
		<div class="col-12 d-flex justify-content-center" >
			<div class="home-blurb" style="width: 80%;">
				<h1 class="text-center">Placeringskort</h1>
				<p class="muted text-center">Fixa snygga placeringskort snabbt och lätt online, välj från över 100 olika mallar för olika tillfällen.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-3 my-5 d-flex justify-content-center">
			<div class="col-10 d-flex flex-column align-items-center home-blurb">
				<i class="fas fa-address-book fs-10 my-4"></i>
				<span class="mb-4">1 ) Ladda upp din gästlista</span>
			</div>
		</div>
		<div class="col-sm-12 col-md-3 my-5 d-flex justify-content-center">
			<div class="col-10 d-flex flex-column align-items-center home-blurb">
				<i class="fas fa-file fs-10 my-4"></i>
				<span class="mb-4">2 ) Välj en mall</span>
			</div>
		</div>
		<div class="col-sm-12 col-md-3 my-5 d-flex justify-content-center">
			<div class="col-10 d-flex flex-column align-items-center home-blurb">
				<i class="fas fa-download fs-10 my-4"></i>
				<span class="mb-4">3 ) Ladda ner</span>
			</div>
		</div>
		<div class="col-sm-12 col-md-3 my-5 d-flex justify-content-center">
			<div class="col-10 d-flex flex-column align-items-center home-blurb">
				<i class="fas fa-print fs-10 my-4"></i>
				<span class="mb-4">4 ) Skriv ut!</span>
			</div>
		</div>
	</div>
</div>
